/* Base.scss */
body {
    background-color: $background-color;
    //box-sizing: border-box;
    color: $color;
    @include body-font-light;
    font-size: $base-font-size;
    //margin: 0 auto;
    //max-width: 600px;
    //padding: 0 10px;
    //width: 100%
}

h1, h2, h3 {
    @include headline-font;
    line-height: 1;
}

img{
    max-width: 100%;
}

svg {
    fill: $color;
}

h1 svg {
    height: em(16px);
    margin-right: em(6px);
}

section h1 {
    font-size: em(70px);
}

//@media screen and (min-width: 800px){
//    body {
//        color: pink;
//    }
//    
//    section h1 {
//        font-size: em(150px);
//    }
//}

h1 a, h2 a {
    color: $logo-color;
    transition: 300ms linear;
    &:hover {
        color: darken($logo-color,8%);
        transition: color 300ms linear;
    }
}